<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Features</key>
	<array>
		<dict>
			<key>name</key>
			<string>配置丰富</string>
			<key>description</key>
			<string>福美来配置充分满足消费者各方面的喜好，尽量多的为消费者提供他们需要的产品和功能，配置丰富，但不多余。
福美来配置充分满足消费者各方面的喜好，尽量多的为消费者提供他们需要的产品和功能，配置丰富，但不多余。
福美来配置充分满足消费者各方面的喜好，尽量多的为消费者提供他们需要的产品和功能，配置丰富，但不多余。</string>
			<key>categories</key>
			<array>
				<dict>
					<key>name</key>
					<string>配置齐全</string>
					<key>features</key>
					<array>
						<dict>
							<key>name</key>
							<string>全系标配倒车雷达</string>
							<key>description</key>
							<string>新福美来全系标配倒车雷达，以声音或者更为直观的显示告知驾驶员周围障碍物的情况，解除了驾驶员泊车、倒车和起动车辆时前后左右探视所引起的困扰，并帮助驾驶员扫除了视野死角和视线模糊的缺陷，提高驾驶的安全性。</string>
							<key>spotId</key>
							<integer>0</integer>
						</dict>
						<dict>
							<key>name</key>
							<string>全系标配自动防眩目内后视镜</string>
							<key>description</key>
							<string>新福美来全系标配自动防眩目内后视镜，可自动判断环境中光线的变化，而及时地调整镜面的反射率，解决了传统手动调整防眩和叠影的问题，即使再强的照射光照到后视镜上，经自动防眩目车内后视镜反射到驾驶员眼睛上则显示暗光，不会耀眼，不仅能够减少驾驶员的疲劳而且很好的提升了行车的安全性。</string>
							<key>spotId</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>name</key>
							<string>真皮多功能方向盘</string>
							<key>description</key>
							<string>新福美来全系标配多功能方向盘，集合音量控制键、调频转换键等调节模式于一体，设计结构紧凑、操作简单便利，确保驾驶者能在行进中自由转换频道、自由调整声音大小，畅意随行；同时方向盘用材考究，高档皮具般的触感让您握上去就会爱不释手。</string>
							<key>spotId</key>
							<integer>2</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>功能人性化</string>
					<key>features</key>
					<array>
						<dict>
							<key>name</key>
							<string>绿色环保的德系标准内饰</string>
							<key>description</key>
							<string>新福美来内饰以德系标准精心打造，用料考究、做工扎实，新米色双色调内饰与宽适质感的皮布混搭座椅，赋予了座舱温暖般的家居感受，整车采用绿色环保内饰材质，塑料件的连接方式充分运用无胶式搭扣连接，避免采用挥发性粘合剂，减少车内异味，无毒、无害、无车内污染，细心呵护每一位成员的身心健康，每时每刻让驾乘者享受新福美来所带来的舒心愉悦的汽车生活。</string>
							<key>spotId</key>
							<integer>3</integer>
						</dict>
						<dict>
							<key>name</key>
							<string>大灯高度可调</string>
							<key>description</key>
							<string>新福美来大灯高度可调，驾驶人员可根据路况调节大灯高度以便获得最佳的照射距离，使避免发生危险。</string>
							<key>spotId</key>
							<integer>4</integer>
						</dict>
						<dict>
							<key>name</key>
							<string>胎压监测系统（TPMS）</string>
							<key>description</key>
							<string>新福美来全系标配胎压监测系统，能对轮胎气压进行实时自动监测，并对轮胎漏气和低气压进行报警，为用户营造贴心呵护的安全环境，避免高速行驶时胎压不足带来的安全隐患。</string>
							<key>spotId</key>
							<integer>5</integer>
						</dict>
						<dict>
							<key>name</key>
							<string>四门玻璃一键式升降及防夹</string>
							<key>description</key>
							<string>新福美来OneTouch四门车窗一触式升降、四门车窗防夹以及遥控锁车玻璃自动关闭系统，在增加使用便利性的基础上，更有效保障车内全员，特别是儿童的安全。即使是配备丰富的中高级车，也仅是全线四门电动车窗，驾驶侧一触防夹。</string>
							<key>spotId</key>
							<integer>6</integer>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>操控灵动</string>
			<key>description</key>
			<string>新福美来采用RCBS轿跑底盘结构，匹配前麦弗逊式悬架、后多连杆独立悬挂系统组合，为驾乘者创造一个舒适性与操控性完美平衡的驾驭体验。</string>
			<key>features</key>
			<array>
				<dict>
					<key>name</key>
					<string>汲取CTCC夺冠战车调教数据的RCBS赛车级轿跑底盘</string>
					<key>description</key>
					<string>新福美来采用RCBS赛车级轿跑底盘组合（即运动-舒适平衡调校的赛车级轿跑底盘，Racing-Comfortable Balanced Suspension），在原有基础上，汲取CTCC夺冠战车在赛事中所取得的大量底盘调校数据和经验，精心调校，进一步提高减震器阀体响应特性、降低阻尼力，从而提升整车的舒适性与稳定性。</string>
					<key>spotId</key>
					<integer>7</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>前麦弗逊、后多连杆4轮独立悬架系统</string>
					<key>description</key>
					<string>新福美来采用前麦弗逊式、后多连杆4轮独立悬挂系统，不仅提供了良好的整车抗侧倾能力，大大提高了行驶安全性，同时后轮的循迹性也得到了有效的提升，做到舒适与操控的完美结合。目前的A级车市场，无论合资品牌或自主品牌，多数采用后半独立悬架，新福美来的后多连杆全独立悬架系统，无论在成本还是性能方面，都远超同级。</string>
					<key>spotId</key>
					<integer>8</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>安全完备</string>
			<key>description</key>
			<string>在安全性能方面，新福美来拥有领先的安全设计理念，主动安全、被动安全、行人安全、信息安全和材质安全五大方面周密组合。全系标配4安全气囊（除风尚版）、iCare智能安全信息系统、自动防眩目内后视镜等，为驾、乘、行多方提供更为可靠的安全保障，让用户体验全程安心的驾乘感受。</string>
			<key>categories</key>
			<array>
				<dict>
					<key>name</key>
					<string>主动安全</string>
					<key>features</key>
					<array>
						<dict>
							<key>name</key>
							<string>自动防眩目内后视镜</string>
							<key>description</key>
							<string>新福美来全系标配自动防眩目内后视镜，可自动判断环境中光线的变化，而及时地调整镜面的反射率，解决了传统手动调整防眩和叠影的问题，即使再强的照射光照到后视镜上，经自动防眩目车内后视镜反射到驾驶员眼睛上则显示暗光，不会耀眼，不仅能够减少驾驶员的疲劳而且很好的提升了行车的安全性。</string>
							<key>spotId</key>
							<integer>9</integer>
						</dict>
						<dict>
							<key>name</key>
							<string>胎压监测系统</string>
							<key>description</key>
							<string>新福美来标配胎压监测系统（风尚版除外），能对轮胎气压进行实时自动监测，并对轮胎漏气和低气压进行报警，为用户营造贴心呵护的安全环境，避免高速行驶时胎压不足带来的安全隐患。</string>
							<key>spotId</key>
							<integer>10</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>被动安全</string>
					<key>features</key>
					<array>
						<dict>
							<key>name</key>
							<string>四安全气囊</string>
							<key>description</key>
							<string>新福美来全系标配包括正、副驾驶席及前排双侧在内的4安全气囊（风尚版除外），配合3H高刚性车身和高强度防撞钢梁，全方位呵护您的安全，在突发情况下全面保证每位乘员的人身安全。</string>
							<key>spotId</key>
							<integer>11</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>行人安全</string>
					<key>features</key>
					<array>
						<dict>
							<key>name</key>
							<string>行人碰撞保护设计</string>
							<key>description</key>
							<string>针对行人安全，新福美来引入行人碰撞保护设计理念，全新设计的发动机前盖板的缓冲吸能设计，前翼子板与轮眉的防护设计以及一体式保险杠设计，都能有效减小对行人的初次与再次伤害。</string>
							<key>spotId</key>
							<integer>12</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>材质安全</string>
					<key>features</key>
					<array>
						<dict>
							<key>name</key>
							<string>安全环保材料</string>
							<key>description</key>
							<string>新福美来采用环保内饰材质，塑料件的连接方式充分运用无胶式搭扣连接，严格限定了各配件厂商产品的环保性能，真正做到新车内空气基本无意味，甲醛、苯、TVOC等含量极低，堪比德系豪华车。
新福美来的座椅材料为超细纤维人工革，这种皮革是第四代人工皮革。 它具有极佳的回弹性、柔软性、抗菌性、防污性、防潮性、阻燃性、透气性 和环保性。这种皮革正在大幅度地取代真皮和特种服装面料，以满足国内外市场对高档产品的时尚和环保需求。</string>
							<key>spotId</key>
							<integer>13</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>信息安全</string>
					<key>features</key>
					<array>
						<dict>
							<key>name</key>
							<string>iCare智能提醒系统</string>
							<key>description</key>
							<string>新福美来的iCare智能安全信息系统全面升级，拥有前排安全带未系提示、前排乘员探测系统、超速警报、倒车雷达、音响倒挡静音、发动机ECU防盗以及胎压监测7大功能，在每个“细微”处赋予新福美来更为高效、人性的信息安全配置，有助于培养用户良好的驾车习惯，大大加强用户的用车安全，新增的胎压监测系统能对轮胎气压进行实时自动监测，并对轮胎漏气和低气压进行报警，为用户营造贴心呵护的安全环境，避免高速行驶时胎压不足带来的安全隐患。</string>
							<key>spotId</key>
							<integer>14</integer>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>品质可靠</string>
			<key>description</key>
			<string>作为中级家轿市场的开拓者，福美来品牌上市已经十年，历经三代产品，拥有80万的市场保有量，从合资车型到自主品牌，到再度超越的自主高端产品，从每一个阶段的市场引领到下一个阶段的再度超越，福美来已经成为一个时代的见证。遵循家轿进化理论，新福美来在原有产品的基础上，汲取CTCC冠军品质的精髓，更严苛的全员全过程质量控制，实现了产品性能和品质的再次提升。</string>
			<key>features</key>
			<array>
				<dict>
					<key>name</key>
					<string>10年品牌积淀和80万用户口碑</string>
					<key>description</key>
					<string>自2002年上市以来，福美来已经走过十年的发展历程，通过不断的垂直换代，福美来实现了产品性能与品质的不断提升，十年来，福美来伴随80万用户见证了每一个幸福时刻。</string>
					<key>spotId</key>
					<integer>15</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>All-for-Quality全员全过程质量控制体系</string>
					<key>description</key>
					<string>针对新福美来，海马汽车采用了更为严苛的AFQ全员全过程质量控制及质量改善体系（All-For-Quality），该评价体系是基于马自达E-NOVA-C整车质量评价体系、结合海马自身情况形成的，使得每一辆车从零部件采购开始即纳入质量控制体系中，全自动车身在线检测系统，以及100%新车路试，使得海马汽车全系每款产品的品质精益求精、始终如一。在生产过程中，海马汽车施行自检、互检、巡检和专检的“铁腕四检”制度，并结合班组内检员制度、车间质检工程师制度等建立起的质量控制网，对生产作业人员和技术人员进行质量改善和攻关活动的激励机制，使海马质量体系具有了惊人的品质把控能力。同时，在生产过程中，全员树立了“用户制度”观念，下道工序就是上道工序的用户，如上道工序不合格，下道工序有权不接受，据此建立严格的责任人制度。</string>
					<key>spotId</key>
					<integer>16</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>E-NOVA-C质量控制体系</string>
					<key>description</key>
					<string>E-NOVA-C（Enhanced New Overall Vehicle-Customer），表示量产车出厂前制造品质的一种内部指标，站在客户的角度地对完成车的制造品质进行评价，指出可能令顾客感到不满意的问题。
海马汽车E—NOVA—C质量控制体系客观地评价量产车辆在交付销售前的制造品质，正确地把握产品质量改善活动的实际成绩。对检出来的不良的问题，要求制造、检查等相关责任部门进行品质改善。使产品出厂状态完全符合马自达的质量、技术标准。</string>
					<key>spotId</key>
					<integer>17</integer>
				</dict>
				<dict>
					<key>name</key>
					<string>ISO/TS16949行业标准</string>
					<key>description</key>
					<string>海马汽车注重质量管理体系的建设和贯彻，1994年，公司前身一汽海南汽车有限公司通过了中质协质保中心首次的认证注册，为国内整车制造厂首家通认证注册的企业。1998年、2001年两次通过了中质协质保中心对公司质量管理体系的复评，2003年通过2000版标准的注册。在运行并不断完善现有的质量体系的同时，对于供应商按照ISO/TS16949标准提出要求并实施严格管理。同时在两年内不断地建设和完善质量管理体系，向ISO/TS16949的标准过渡。</string>
					<key>spotId</key>
					<integer>18</integer>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
