<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Entries</key>
	<array>
		<dict>
			<key>timeOffset</key>
			<integer>9</integer>
			<key>timeLabel</key>
			<string>2000.8</string>
			<key>description</key>
			<string>海马CA7130轿车投放市场</string>
			<key>pictureUrl</key>
			<string>2000-8.jpg</string>
		</dict>
		<dict>
			<key>timeOffset</key>
			<integer>32</integer>
			<key>timeLabel</key>
			<string>2002.7</string>
			<key>description</key>
			<string>国内首款中级车福美来一代上市成为国内继捷达之后又一款热销的三厢车引入“中级家轿”的概念，直接将中国车市带入细分时代</string>
			<key>pictureUrl</key>
			<string>2002-7.jpg</string>
		</dict>
		<dict>
			<key>timeOffset</key>
			<integer>44</integer>
			<key>timeLabel</key>
			<string>2003.7</string>
			<key>description</key>
			<string>福美来1.6MT新锐级上市</string>
			<key>pictureUrl</key>
			<string>2003-7.jpg</string>
		</dict>
		<dict>
			<key>timeOffset</key>
			<integer>52</integer>
			<key>timeLabel</key>
			<string>2004.3</string>
			<key>description</key>
			<string>04款福美来上市“新三样”深入人心</string>
			<key>pictureUrl</key>
			<string>2004-3.jpg</string>
		</dict>
		<dict>
			<key>timeOffset</key>
			<integer>67</integer>
			<key>timeLabel</key>
			<string>2005.6</string>
			<key>description</key>
			<string>福美来1.6新动力版投放市场</string>
			<key>pictureUrl</key>
			<string>2005-6.jpg</string>
		</dict>
		<dict>
			<key>timeOffset</key>
			<integer>75</integer>
			<key>timeLabel</key>
			<string>2006.2</string>
			<key>description</key>
			<string>福美来Sports上市</string>
			<key>pictureUrl</key>
			<string>2006-2.jpg</string>
		</dict>
		<dict>
			<key>timeOffset</key>
			<integer>82</integer>
			<key>timeLabel</key>
			<string>2006.9</string>
			<key>description</key>
			<string>新一代福美来上市
上市售价8.18-11.18万元，创下了中级轿车价格新低
第一款月销量过万台的国产品牌轿车</string>
			<key>pictureUrl</key>
			<string>2006-9.jpg</string>
		</dict>
		<dict>
			<key>timeOffset</key>
			<integer>95</integer>
			<key>timeLabel</key>
			<string>2007.10</string>
			<key>description</key>
			<string>第40万辆福美来下线</string>
			<key>pictureUrl</key>
			<string>2007-10.jpg</string>
		</dict>
		<dict>
			<key>timeOffset</key>
			<integer>106</integer>
			<key>timeLabel</key>
			<string>2008.9</string>
			<key>description</key>
			<string>09款福美来上市</string>
			<key>pictureUrl</key>
			<string>2008-9.jpg</string>
		</dict>
		<dict>
			<key>timeOffset</key>
			<integer>112</integer>
			<key>timeLabel</key>
			<string>2009.3</string>
			<key>description</key>
			<string>2009年3月2日
第50万辆福美来下线</string>
			<key>pictureUrl</key>
			<string>2009-3.jpg</string>
		</dict>
		<dict>
			<key>timeOffset</key>
			<integer>132</integer>
			<key>timeLabel</key>
			<string>2010.11</string>
			<key>description</key>
			<string>福美来三代上市
“HOMEY”
“宜居轿车”
“人、品、心、境”</string>
			<key>pictureUrl</key>
			<string>2010-11.jpg</string>
		</dict>
	</array>
</dict>
</plist>
